.avatar {
  height: 35vh;
  width: 35vh;
}

.bundle-notifications {
  margin-bottom: 10vh;
  margin-top: 1vh;
}

.forum-notifications {
  margin-bottom: 3vh;
}

.notifications {
  flex-direction: column;
  height: 45vh;
  margin-left: 10vh;
}

.profile {
  height: 45vh;
  margin-right: 10vh;
  text-align: center;
}
