form {
  background: linear-gradient(135deg, rgba(36,0,29,1) 0%, rgba(65,103,215,1) 0%, rgba(157,65,217,1) 100%);
  box-shadow: 1px 1px 8px 4px #14104A;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 8vh;
}

.input {
  font-family: 'league_monosemibold';
  height: 5vh;
  margin: 1vh;
  width: 30vw;
}

.log-in-form {
  height: 50vh;
  width: 47vw;
}

.sign-in-form {
  height: 65vh;
  width: 55vw;
}

.title {
  font-size: x-large;
  margin-top: 5vh;
  text-align: center;
  width: 80vh;
}
