h1 {
  font-size: 20vh;
  margin: 0px;
}

.landing {
  border-style: solid;
  font-size: x-large;
  margin: 0px;
  text-align: left;
}

.landing-buttons {
  border-style: solid;
  font-size: medium;
  margin-top: 8vh;
}

p {
  margin: 0px;
}
