h3 {
  border-bottom: 2px solid white;
  margin-bottom: 15px;
  width: 31%;
}

.landing-menu {
  height: 60vh;
  width: 60vh;
}

.landing-options {
  margin: 13vh;
}

.main-menu {
  height: 72vh;
  width: 72vh;
}

.main-options {
  margin: 13vh;
}

.menu {
  background: linear-gradient(135deg, rgba(36,0,29,1) 0%, rgba(65,103,215,1) 0%, rgba(157,65,217,1) 100%);
  box-shadow: 1px 1px 8px 4px #14104A;
  font-size: x-large;
  /* padding-left: 5vw; */
}

p {
  padding-top: 15px;
}