body {
  background: linear-gradient(135deg, rgba(0,10,36,1) 11%, rgba(9,36,121,1) 47%, rgba(154,0,255,1) 100%);
  color: white;
  font-family: 'league_monosemibold';
  height: 100vh;
  width: 100vw;
}

.button {
  background-color: #AA19B0;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 2px #14104A;
  color: white;
  cursor: pointer;
  font-family: 'league_monosemibold';
  font-size: medium;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  width: 25vh;
}

.button:focus {outline: 0}

.content {
  height: 97vh;
  margin-right: 5vw;
  width: 90vw;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'league_monosemibold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/leaguemono-semibold-webfont.woff2') format('woff2'),
       url('fonts/leaguemono-semibold-webfont.woff') format('woff');
}

.link {cursor: pointer}

.main-container {
  font-family: 'league_monosemibold';
  height: 99vh;
  width: 99vw;
}

.menu-container-inner{
  align-self: flex-start;
  font-size: 41px;
  height: 10vh;
  margin-top: 2vw;
  width: 5vw;
}

.menu-container-outer {
  height: 97vh;
  margin-left: 1vw;
  width: 5vw;
}

.menu-icon:focus {outline: 0}

.menu-option {
  color: white;
  font-size: medium;
  padding: 2px;
}
