body {
  background: linear-gradient(135deg, rgba(0,10,36,1) 11%, rgba(9,36,121,1) 47%, rgba(154,0,255,1) 100%);
  color: white;
  font-family: 'league_monosemibold';
  font-size: large;
  height: 100vh;
}

.content {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

@font-face {
  font-family: 'league_monosemibold';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/leaguemono-semibold-webfont.woff2') format('woff2'),
       url('fonts/leaguemono-semibold-webfont.woff') format('woff');
}

.menu-icon:focus {outline: 0}

.menu-icon-wrapper {
  font-size: 41px;
  padding-left: 20px;
  padding-top: 20px;
}
